
:root{
  --primary : DarkBlue;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: Snow;
    
  }


h1 {
  font-size: 20px;
  width: 90%;
  text-align: center;
  color: var(--primary);
  margin-left: 5%;
}

.encuesta {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 90%;
  
  margin-left: 5%;
  box-shadow: 0px 0px 15px 10px #D4D4D4;
  overflow: hidden;
  
}

.field{
  margin-top: 50px;
  width: 80%;
  


}

input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--primary);
  outline: none;
  background-color: inherit;
  width: 40%;
  font-size: 18px;
  transition: width 0.3s ease-in-out;
  
}

  .field label{
 
  margin-top: -0px;
  color: gray;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  
}

.field:focus-within label,.field:hover label{
  color: var(--primary);
  font-size: 14px;
  font-weight: bold;

}

input[type="text"]:hover,input[type="text"]:focus{
  border-bottom: 3px solid var(--primary);
  width: 50%;
}

.prueba{
  color: var(--primary);
  font-size: 14;
  font-weight: bold;
  color: var(--primary);
}

p{

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: 13px;
  color: var(--primary);
}

.Canvas{
  border:1px solid #000000;
                
                margin-top:30px;
                width: 200;
                height: 200;
}

.botonera{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
}

.botonera button{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  height: 40px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  
}

input[type="checkbox"]{
  margin-bottom: 20px;
}

h2{
  font-size: 30px;
  width: 90%;
  text-align: center;
  color: var(--primary);
  margin-left: 5%;
}

.card-container{
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card{
  margin-top: 20px;
  width: 230px;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  
  overflow: hidden;
  box-shadow: 0px 0px 6px 5px #D4D4D4;

}

.part{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:30px;
  width: 90%;
  margin-top: 2px;
  gap: 3px;
}

img{
  width: 200px;
  height: 50px;
}

h5,h4 {
  color: var(--primary);
}

h4{
  text-align: center;
}


.titulo{
  font-size: 30px;
}

span{
  text-decoration: underline;
  color: blue;
}

span a{
  cursor: pointer;
}

.popUp{
  height: 110%;
  width: 90%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 5%;



}

.popUpContend{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
  background-color: snow;
}

.popHeader{
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.popBody{
  width: 90%;
  height: 80%;
  margin-left: 5%;
}

.container{
  z-index: 0;
  position: absolute;
}

.popHeader button{
  background-color: transparent;
  border: none;
  outline-color: none;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
  color: var(--primary);
}


.search{

  width: 70%;
  margin-left: 15%;
  font-size: 18px;
  text-align: center;
}

.Query{
  margin-top: 50px;
  width: 130px;
  height: 30px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
